In [45]:
import yfinance as yf
import pandas as pd
#import string as train

msft = yf.Ticker("MSFT")

# get all stock info
msft.info

# get historical market data
hist = msft.history(period="1mo")

In [27]:
hist['Date'] = hist.index

In [28]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,,,
2023-06-22 00:00:00-04:00,334.119995,340.119995,333.339996,339.709991,23556800,0.0,0.0,2023-06-22 00:00:00-04:00
2023-06-23 00:00:00-04:00,334.359985,337.959991,333.450012,335.019989,23084700,0.0,0.0,2023-06-23 00:00:00-04:00
2023-06-26 00:00:00-04:00,333.720001,336.109985,328.489990,328.600006,21520600,0.0,0.0,2023-06-26 00:00:00-04:00
2023-06-27 00:00:00-04:00,331.859985,336.149994,329.299988,334.570007,24354100,0.0,0.0,2023-06-27 00:00:00-04:00
2023-06-28 00:00:00-04:00,334.660004,337.980011,333.809998,335.850006,20259500,0.0,0.0,2023-06-28 00:00:00-04:00

In [29]:
hist['Date']

Date
2023-06-22 00:00:00-04:00   2023-06-22 00:00:00-04:00
2023-06-23 00:00:00-04:00   2023-06-23 00:00:00-04:00
2023-06-26 00:00:00-04:00   2023-06-26 00:00:00-04:00
2023-06-27 00:00:00-04:00   2023-06-27 00:00:00-04:00
2023-06-28 00:00:00-04:00   2023-06-28 00:00:00-04:00
2023-06-29 00:00:00-04:00   2023-06-29 00:00:00-04:00
2023-06-30 00:00:00-04:00   2023-06-30 00:00:00-04:00
2023-07-03 00:00:00-04:00   2023-07-03 00:00:00-04:00
2023-07-05 00:00:00-04:00   2023-07-05 00:00:00-04:00
2023-07-06 00:00:00-04:00   2023-07-06 00:00:00-04:00
2023-07-07 00:00:00-04:00   2023-07-07 00:00:00-04:00
2023-07-10 00:00:00-04:00   2023-07-10 00:00:00-04:00
2023-07-11 00:00:00-04:00   2023-07-11 00:00:00-04:00
2023-07-12 00:00:00-04:00   2023-07-12 00:00:00-04:00
2023-07-13 00:00:00-04:00   2023-07-13 00:00:00-04:00
2023-07-14 00:00:00-04:00   2023-07-14 00:00:00-04:00
2023-07-17 00:00:00-04:00   2023-07-17 00:00:00-04:00
2023-07-18 00:00:00-04:00   2023-07-18 00:00:00-04:00
2023-07-19 00:00:00-04:00   2023-07-19 00:00:00-04:00
2023-07-20 00:00:00-04:00   2023-07-20 00:00:00-04:00
2023-07-21 00:00:00-04:00   2023-07-21 00:00:00-04:00
Name: Date, dtype: datetime64[ns, America/New_York]

In [31]:
train = hist[hist['Date'] < '20230628']
test = hist[hist['Date'] > '20230622']

In [56]:
hist = train.iloc[:,2:27]
hist.replace("[^a-zA-Z]"," ",regex=True,inplace=True)

In [57]:
hist

,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,
2023-06-22 00:00:00-04:00,333.339996,339.709991,23556800,0.0,0.0,2023-06-22 00:00:00-04:00
2023-06-23 00:00:00-04:00,333.450012,335.019989,23084700,0.0,0.0,2023-06-23 00:00:00-04:00
2023-06-26 00:00:00-04:00,328.489990,328.600006,21520600,0.0,0.0,2023-06-26 00:00:00-04:00
2023-06-27 00:00:00-04:00,329.299988,334.570007,24354100,0.0,0.0,2023-06-27 00:00:00-04:00

In [62]:
test_transformer = []
#test_dataset = countvector.transform(test_transform)
predictions = hist

In [63]:
hist

,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,
2023-06-22 00:00:00-04:00,333.339996,339.709991,23556800,0.0,0.0,2023-06-22 00:00:00-04:00
2023-06-23 00:00:00-04:00,333.450012,335.019989,23084700,0.0,0.0,2023-06-23 00:00:00-04:00
2023-06-26 00:00:00-04:00,328.489990,328.600006,21520600,0.0,0.0,2023-06-26 00:00:00-04:00
2023-06-27 00:00:00-04:00,329.299988,334.570007,24354100,0.0,0.0,2023-06-27 00:00:00-04:00